@import url('../../node_modules/codemirror/lib/codemirror.css');
@import url('../../node_modules/codemirror/addon/scroll/simplescrollbars.css');

/* mardown themes */
@import url('../../node_modules/github-markdown-css/github-markdown.css');

/* katex stylesheet */
@import url('../../node_modules/katex/dist/katex.min.css');

body {
  margin: 0;
}

.marky-markdown {
  width: 100%;
  height: 100%;
}

.marky-markdown .markdown-body {
  padding: 30px;
}

.marky-markdown .marky-editor {
  width: 100%;
  height: 100%;
}

.marky-markdown .marky-preview {
  padding: 30px;
  padding-top: 5px;
}

.marky-wrapper {
  overflow: auto;
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
